html {
    box-sizing: border-box;

}

body {
    margin: 0;

    background-image: url(food.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

    
.layer {
    background-color: rgba(67, 80, 181, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
margin: 0;
height: 170vh
   
 
}

#main-title {
    width: 50vw;
    height: 8vh;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 5px;
    color: rgb(202, 117, 198);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 10px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 8, 26, 0.7);
    border-radius: 5%;


}

#ingredient-title {
    color: rgb(202, 201, 202);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
margin: 0;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#ingredient-title h1 {
margin-top: 0px

;
}

.left-and-right {
    display: flex;
    align-items: left;
    background-color: rgba(67, 80, 181, 0.7);
    border-radius: 5%;

   


}

.left-container {
    border-radius: 5%;
    width: 30vw;
    display: flex;
    flex-direction: column;
   
 
    margin-top: 5px;
    background-color: rgba(67, 80, 181, 0.7);

}



h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form-container {
    border: 1px dotted;
    padding: 10px;
    font-size: 1em;


}

.form-container span {
   
}

#choose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgba(6, 8, 26, 0.7);
    color: white;
    padding: 5px;

}

.pending-item {
    color:rgb(216, 59, 208);
    font-family:fantasy;
    font-size: 1em;
    margin-right: 10px;
    letter-spacing: 2px;
    overflow-x: auto;
    overflow-wrap: break-word;
    font-weight: normal;

}

.item-type {
    font-size: 1em;
    margin-left: 10px;
}

.item-time {
    font-size: 1em;
    margin-left: 10px;

}
.edit {
    margin-left: 20px;
    background-color: rgba(30, 30, 70, 0.7);
    color: white;
}

.hidden {
    display: none
}

.new-item {
    width: 500px;
    height: 30px;
    font-size: 20px;
}
.item-input {
    width: 110px;
    height: 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;


}

.new-ingredient {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
    
}

li {
    font-size: 1em;
    color:rgb(202, 117, 198);
    font-weight: bold;
    list-style: none;
    list-style-position: inside;
     padding-top: 10px;
    
}

.ingredient-item {
    font-size: 20px;
letter-spacing: 1px;
color:rgb(202, 117, 198);
overflow-x: auto;
overflow-wrap: break-word;
width: 130px;

}
.quantity {
    width: 30px;
    font-size: 20px;
    margin-left: -20px;

}

.amount {
    width: 60px;
    font-size: 20px;
    margin-left: 30px;
    overflow-x: auto;
overflow-wrap: break-word;

}

.buttons1 {
    display: flex;
align-items: center;}

.add-item {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 130px;
    font-style: cursive;
    background-color: rgba(30, 30, 70, 0.7);
    color: white;

}

.clear {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 10px;
    width: 160px;
    background-color: rgba(30, 30, 70, 0.7);
    color: white;
}

#submit-item {
    background-color: rgba(30, 30, 70, 0.7);
    color: white;
}

#ingredient-stock {
    font-size: 1em;
    height: 300px;
    max-height:280px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 5%;
    overflow-y: auto;
 
}

.headings {
    display: flex;
    font-size: 1em;

}

#quantity-heading {
    margin-left: 20px;
    
}

#amount-heading {
    margin-left:20px;
}

.headings span {
    margin-left: 50px;
    margin-right: 20px
}



.ingredient-item {

}

.list {
    margin-top: 15px;
}

.quantity-select {
    width:30px;
    margin-right: 10px;
}

.amt-select {
    width:30px;
    margin-right: 10px;
}

#amount {
    margin-left: 10px;
}
label {
    margin-right: 10px;

}
.button {
    font-family:cursive;
    border-style: solid;
    border-radius: 5%;    text-align: center;
    

}

.buttons {

}

.delete {
    text-align: center;

    background-color: rgba(76, 76, 207, 0.4);
    color: white;
   width: 40px;
   height: 30px;
   font-size: 10px;
font-family:cursive;
margin-left: 20px;
border-radius: 5%;


    
}
.select {
    background-color: rgba(76, 76, 207, 0.4);
    color: white;

    width: 40px;
    height: 30px;
 font-size: 10px;
 font-family:cursive;
 border-radius: 5%;
 margin-right: 10px;
     
 }


.left-bottom-container {

    height: 89vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-radius: 5%;

    margin-top: 5px
}
#meal {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.dish-input {
    width: 200px;
    height: 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.meal-type-input {
    width: 150px;
    height: 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.time-input {
    width: 120px;
    height: 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

 /* right container */

 .right-top-container {
    border-radius: 5%;
    width: 30vw;
    display: flex;
    flex-direction: column;
 }
#confirm-title {
    color: rgb(202, 201, 202);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
margin: 0;

    display: flex;
    flex-direction: column;
   text-align: center;
}

.confirm-container {
    border: 1px dotted;
    padding: 10px;
    font-size: 1em;
    color: black;
    text-align: center;
}

#name {
color:rgb(202, 117, 198);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
margin-right: 10px
}
#as {
    color: black;
}
#type {
    color:rgb(85, 18, 82);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-right: 10px;
    text-transform: uppercase;

}
#at {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#time1 {
    color:rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-right: 10px

}

.confirm-ingredients {
    display: flex;
    flex-direction: column;
   align-items: center;
    color:sandybrown;
    letter-spacing: 2px;
    max-height: 200px;
    overflow-y: auto;
  
}

.ingredients-list {
    
}

.confirm-ingredients li {
    color: rgb(0, 225, 255)
}

.buttons {
    display: flex;
   justify-content: center;
   margin-top: 10px
}

.submit {
    background-color: rgba(30, 30, 70, 0.7);
    color: white;
    width: 300px;
}

.delete1 {
    
    width: 100px;

}

 .crossout {
   background-color: rgba(255,255,255,0.9);
   color: rgba(6, 8, 26, 0.7);

 }


.items-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


@media 